{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 my-5 mx-auto">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ object.image.url }}" class="card-img" alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <span class="text-sm text-muted">Product Name</span>
                            <h2 class="card-title">{{ object.title }}</h2>
                            <span class="text-sm text-muted">Summary</span>
                            <p class="card-text">{{ object.summary }}</p>
                            <p><b>Quantity</b></p>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button id="incqty" type="button" class="btn btn-outline-primary">+</button>
                                <input type="number" name="qty" maxlength="2" max="9" min="0" value="1"
                                    class="text-center btn-outline-dark" name="price" />
                                <button type="button" class="btn btn-outline-primary" id="decqty">-</button>
                            </div>

                            <div class="mt-3">
                                <button type="button" id="addtocartbtn" class="btn btn-primary">Add to Cart</button>
                            </div>
                            <span class="text-sm text-muted">In Stocks</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <span class="text-sm text-muted">Description</span>
                    <p class="card-text">{{ object.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.2.min.js"
    integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {

        // increase quantity
        $('#incqty').click(function () {
            var qty = $('input[name="qty"]').val();
            if (qty < 9) {
                qty++;
                $('input[name="qty"]').val(qty);
            }
        });
        // decrease quantity
        $('#decqty').click(function () {
            var qty = $('input[name="qty"]').val();
            if (qty > 1) {
                qty--;
                $('input[name="qty"]').val(qty);
            }
        });

        $('#addtocartbtn').click(function () {
            // add a loading msg inside button
            $(this).html('Adding...');
            var product_id = `{{ object.id }}`;
            var qty = $('input[name="qty"]').val();
            $.ajax({
                url: "{% url 'add_to_cart' %}",
                type: "POST",
                data: {
                    id: product_id,
                    qty: qty,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.status == 1) {
                        alert(response.message);
                    } else {
                        alert(response.message);
                    }
                    // add a success message inside button
                    $('#addtocartbtn').html('Add to Cart');
                }
            });
        });
    });
</script>
{% endblock %}